@font-face {
    font-family: "Palatino";
    src: url("../fonts/palatinolinotype_bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Palatino";
    src: url("../fonts/palatinolinotype_roman.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}