.date {
    background-color: #FAF8F0;
}

.date__inner {
    padding: 4rem 3rem;
}

.date__title {
    margin-bottom: 2rem;
}

.date__item {
    text-align: center;
    font-size: 6rem;
    font-family: 'Palatino';
    color: #8E6808;
    opacity: 0.4;
    letter-spacing: .4rem;
}

.date__timer {
    margin-top: 3rem;
    text-align: center;
    font-family: 'Palatino';
    font-size: 6rem;
    letter-spacing: .7rem;
}