.friend {
    margin-top: -4rem;
}

.friend__inner {
    background-color: #FAF8F0;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding: 4rem 3rem;
}

.friend__title {
    margin-bottom: 2.1rem;
}

.friend__text {
    font-family: "Jura", sans-serif;
    text-align: center;
    line-height: 1.5;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}