.hero {
    position: relative;
    height: 100vh;
    background-image: url(../img/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.hero__title {
    position: fixed;
    font-family: "Great Vibes", cursive;
    padding-top: 12rem;
    font-size: 12rem;
    line-height: 1;
    letter-spacing: 0.4rem;
    font-weight: 400;
    color: #FAF8F0;
    width: 100%;
    margin-left: 3rem;
    text-shadow: .1rem .1rem 3rem rgba(255, 255, 255, 0.58);

    span {
        margin-left: 12rem;
    }

    b {
        font-weight: 400;
        position: absolute;
        right: 10rem;
        top: 14rem;
    }
}