.info {
    border-bottom: .1rem solid rgba(142, 104, 8, 0.40);
}

.info__inner {
    padding: 5rem 3rem;
}

.info__title {
    margin-bottom: 3rem;
}

.info__text {
    font-family: 'Palatino';
    color: #212121;
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
}

.info__phone {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 4rem;
    color: rgba(142, 104, 8, 0.40);
    border-bottom: .1rem solid rgba(142, 104, 8, 0.40);
    text-decoration: none;
}