.last {
    position: relative;
    height: 100vh;
    margin-top: -4rem;

    background-image: url(../img/img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.last__date {
    position: absolute;
    bottom: 4rem;
    left: 4rem;

    font-family: "Great Vibes", cursive;
    font-size: 10rem;
    font-weight: 400;
    color: #FFFFFF;
    z-index: -1;
    text-shadow: .1rem .1rem 3rem rgba(255, 255, 255, 0.58);
}