.programm {}

.programm__title {
    margin-bottom: 2rem;
}

.programm__inner {
    background-color: #FAF8F0;
    padding: 4rem 0;
}

.programm__list {
    padding: 1.5rem 3rem 4rem 3rem;
    display: flex;
    align-items: center;
    overflow: auto;
    gap: 4rem;
    margin-bottom: 5rem;
    border-bottom: .1rem solid rgba(142, 104, 8, 0.40);
}

.programm__item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.programm__time {
    font-size: 6rem;
    font-family: 'Palatino';
    color: rgba(142, 104, 8, 0.40);
    font-weight: 300;
}

.programm__event {
    font-family: 'Palatino';
    color: #212121;
    font-size: 4rem;
    font-weight: 300;
    white-space: nowrap;
    max-width: none;
}